html {
  height: 100%;
  width: 100%;
}

/* body {
  background: black;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Neucha", sans-serif;
  color: white;
} */

body{ 
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Neuropol Medium', arial;
  text-align: center;
  letter-spacing: 2px;
  overflow: hidden;
  background:linear-gradient(0.5turn, #000, #00FFFF,#000);
}
.box {
  display: table;
  height: 100%;
  width: 100%;
  background-size: cover;
  position: relative;
}

.box:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 0;
}
.box .top-text {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  text-align: center;
}

.box .top-text h1 {
  position: aboslute;
  width: 80%;
  margin:50px auto;
  font-size: 50px;
  line-height: 55px;
}
/* cursor */ 

#typing {
  font-size: 50px;
  font-weight: 400;
  /* color: skyblue; */
}

.typed-cursor{
  font-size: 50px;
  color: black;
    opacity: 1;
    font-weight: 700;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

